.App {
  text-align: center;
}

.banner {
  background-image: url('./images/banner.jpg');
  height: 193px;
  filter: opacity(50%);
}

.search {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -25px;
}
input, button {
  border-radius: 25px;
  border-color: none;
  padding: 10px;
  margin: 0;
  border: 0;
  background: #B51B01;
  color: aliceblue;
  font-size: 2rem;
}
input[type="text"]::placeholder {
  color: #ACB3B5;
}
.search-input {
  width: 40vw;
  padding-left: 20px;
}
.search-button {
  width: 15vw;
} 