.App {
  text-align: center;
}

.banner {
  background-image: url('./images/banner.jpg');
  height: 193px;
  filter: opacity(50%);
  width: 100%;
  background-size:contain;
  background-position:center;
}
.octocat-icon {
  position: absolute;
  top: 0;
  right: 0;
  filter: sepia(0.4);
}
.octocat-icon:hover {
  filter: none;
}
.spinner {
  width: 100px;
  margin: 0 auto;
}
.search {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -25px;
}
input, button {
  border-radius: 25px;
  border-color: none;
  padding: 10px;
  margin: 0;
  border: 0;
  background: #B51B01;
  color: aliceblue;
  font-size: 2rem;
}
input[type="text"]::placeholder {
  color: #ACB3B5;
}
input:focus{
  outline: none;
  box-shadow: 2px 3px 4px rgba(247, 98, 98, 0.397);
}
.search-input {
  width: 40vw;
  padding-left: 20px;
}
.search-button {
  width: 15vw;
} 

.books-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 2vw;
  justify-content: center;	
  grid-auto-rows: 1fr;
}

.book-wrapper {
  margin: 0;
  background: rgba(166, 215, 233, 0.575);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(5,81,103,0.33);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.error {
  grid-column: 1/4;
  font-size: 1.5rem;
}
.book-cover{
  grid-column: 1/2;
  position: relative;
  top: -10px;
  left: -10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(5,81,103,0.33);
}
.book-cover img {
  width: 200px;
}
.book-content {
  grid-column: 2/4;
}
.book-title {
  font-size: 1.3em;
}
.book-url{
  grid-column: 1/4;
  justify-self: end; 
  align-self: flex-end;
  padding: 5px;
  width: 50%;
  font-size: 1em;
  height: 40px;
  position: relative;
  bottom: -5px;
  right: -5px;
}
button.book-url {
  width: 120px;
}
.book-url a {
  color: aliceblue;
  text-decoration: none;
}
.book-url:hover {
  transform: scale(1.2);
  background: #B51B01;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(5,81,103,0.33);
}

/* MEDIA-QUERIES */
@media only screen and (max-width: 1400px) {
  .books-grid {
    grid-template-columns: repeat(2, 450px);
    grid-gap: 5vw;
  }
}

@media only screen and (max-width: 1100px) {
  .books-grid {
    grid-template-columns: repeat(2, 400px);
    grid-gap: 5vw;
  }
}
@media only screen and (max-width: 900px) {
  .books-grid {
    grid-template-columns: 450px;
    grid-gap: 5vw;
  }
}
